on: [push, pull_request]

name: CI

jobs:

  test-electrs:
    name: Test Electrs
    runs-on: ubuntu-20.04
    env:
      CARGO_TERM_COLOR: always
      BITCOIN_VER: 0.21.0
      ELECTRS_VER: 0.8.10
    strategy:
      matrix:
        features: ["--features use-p2p", "--features use-p2p,trigger"]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache
        id: cache-step
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
            target
            electrs/target/release/electrs
            bitcoin-${{ env.BITCOIN_VER }}
          key: ${{ runner.os }}-test-electrsd1-${{ env.BITCOIN_VER }}-${{ env.ELECTRS_VER }}-${{ hashFiles('Cargo.toml','Cargo.lock') }}
      - name: Setup rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Set ELECTRS_EXE env
        run: echo "ELECTRS_EXE=${{ github.workspace }}/electrs/target/release/electrs" >> $GITHUB_ENV
      - name: Build electrs
        if: steps.cache-step.outputs.cache-hit != 'true'
        run: git clone https://github.com/romanz/electrs && cd electrs && git checkout df513cfb18297d3d76097bb62dba93676bbf9a94 && cargo build --release --no-default-features
      - name: Show electrs options
        run: ${{ env.ELECTRS_EXE }} --help
      - name: Set BITCOIND_EXE env
        run: echo "BITCOIND_EXE=${{ github.workspace }}/bitcoin-${{ env.BITCOIN_VER }}/bin/bitcoind" >> $GITHUB_ENV
      - name: Install bitcoind
        if: steps.cache-step.outputs.cache-hit != 'true'
        run: curl https://bitcoincore.org/bin/bitcoin-core-$BITCOIN_VER/bitcoin-$BITCOIN_VER-x86_64-linux-gnu.tar.gz | tar -xvz bitcoin-$BITCOIN_VER/bin/bitcoind
      - name: Test electrsd
        run: RUST_LOG=electrs=debug cargo test --verbose --no-default-features ${{ matrix.features }}

  cosmetics:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          profile: minimal
          components: rustfmt, clippy
      - name: fmt
        run: cargo fmt -- --check
      - name: clippy
        run: cargo clippy -- -D warnings


  test-electrs-container:
    name: Test Electrs with container
    runs-on: ubuntu-16.04
    container: bitcoindevkit/electrs:0.4.0
    env:
      BITCOIND_EXE: /root/bitcoind
      ELECTRS_EXE: /root/electrs
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Bitcoind version
        run: ${BITCOIND_EXE} -version
      - name: Electrs help
        run: ${ELECTRS_EXE} --help
      - name: Install rustup  # cargo action doesn't work inside container
        run: curl https://sh.rustup.rs -sSf | sh -s -- -y
      - name: Test
        run: $HOME/.cargo/bin/cargo test --verbose --no-default-features --features use-p2p -- --nocapture